img
{
	width: 1024px;
	height: 768px;
}

.Margen
{
	text-align: center;
	margin: 1cm 2cm;
	background: Yellow;
	color: Blue;
	font-size: 16pt;
	 	
}

#intro
{
	font-size: 30pt;
	background: Yellow;
	color: Blue;
	text-align: center;
}

#aciertos
{
	font-size: 24pt;
	background: Green;
	color: White;
	text-align: center;
}

#parrafo1
{
	font-size: 20pt;
	color: red;
}

#imagen1
{
	width: 450px;
	height: 350px;
}

#imagen2
{
	width: 450px;
	height: 350px;
}

